<!DOCTYPE html>
<html>
<head>
    <title>Meal + Schedule CRUD APP</title>
</head>
<body>
    <!-- {% for item in recipe_names%}
    <p> {{item}} </p>
    {%endfor%} -->

    {% for item in schedule_items%}
    <h1> {{item[0]}} - {{item[1]}}</h1>
    <h2> {{item[2]}} </h2>
    <p> location: {{item[3]}} </p>
    {%endfor%}

    <!-- remove items   -->
    <div id = "remove_items"> 
        <form action = "/remove_items" method = "POST">
            {% for item in shopping_items%}
            <!-- the error was again, quite stupid; i had specified type 2x, so name wasn't be declared as check :/  -->
            <input type = "checkbox" name = "check" id = "{{item}}" value = "{{item}}"> 
            <label for = "{{items}} name = {{item}}"> {{item}} </label>
            <br>  
            {% endfor %}
            <input type = "submit" value = "REMOVE ITEMS">
        </form>
    </div>
<br> 
    <!-- add items -->
    <div id = "add_items">
        <form action = "/add_items" method = "POST">
            <select name = "select_items">
                {%for item in all_items%}
                <option value = "{{ item }}"> {{ item }} </option>
                {% endfor %}
                <input type = "submit" value = "ADD ITEM">
            </select>
        </form>
    </div>

    <!-- update form  -->
  
    <script src="script.js"></script>
</body>
</html>